
.inputField {
  /* height: `60px`, */
  border-radius: 30px;
  /* border: 1px solid slategray; */
  /* border: none; */
  margin: 5px -20px 15px -20px;
  padding: 15px 20px;
  background-color: rgba(94, 117, 153, 0.1);
  font-family: PT Sans;
  color: #262626;
  outline: none;
  border: 0;
}

.button {
  flex: 1;
  height: 60px;
  border-radius: 30px;
  /* border: 1px solid slategray; */
  padding: 15px 20px;
  margin: 0 0.25rem;
  font-family: PT Mono;
  text-transform: uppercase;
  color: #999999;
  letter-spacing: 0.16em;
  font-size: 15px;
  outline: none;
  /* border: 0; */
}

.button :focus {
  background-color: #FFE552 !important;
}
.button :hover {
  background-color: #FFE552  !important;
}
.button :active {
  background-color: #FFE552  !important;
}



form label {
	font-family: PT Mono;
	font-size: 13px;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: #999999;
	margin-top: 10px;
}


@media (min-width: 769px) {

  form {
    max-width: 600px;
    margin: auto;
  }

}